input, textarea {
    appearance: none;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);
    padding: 0.8rem 1rem;
    font: var(--body-md);
    background-color: var(--input-base);
}

label {
    font: var(--body-sm);
    color: var(--text-body);
    display: block;
    margin-bottom: 0.75rem;
}

input:focus,
textarea:focus,
input[type="date"]:focus-within {
    outline: 1px solid var(--brand-light);
    border: 2px solid transparent;
}

.info .flex {
    gap: 1rem;
}
