.flex-colors {
    .radio-wrapper {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
    }
    
    .radio-inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .radio-inner input {
        width: 1rem;
        aspect-ratio: 1 / 1;   
        border-radius: 100%;
        transition: 0.2s ease-in-out;
        border: 0.4rem solid #2d3136;
    }
    
    .radio-inner input#blue {
        background-color: var(--brand-light);
    }
    
    .radio-inner input#navy {
        background-color: var(--navy);
    }
    
    .radio-inner input#purple {
        background-color: var(--purple);
    }
    
    .radio-inner input#fuschia {
        background-color: var(--fushia);
    }
    
    .radio-inner input#pink {
        background-color: var(--pink);
    }
    
    .radio-inner input#red {
        background-color: var(--danger);
    }
    
    .radio-inner input#orange {
        background-color: var(--orange);
    }
    
    .radio-inner input#yellow {
        background-color: var(--yellow);
    }
    
    .radio-inner input#lime {
        background-color: var(--lime);
    }
    
    .radio-inner input#green {
        background-color: var(--green);
    }
    
    .radio-inner input#cyan {
        background-color: var(--cyan);
    }

    .radio-inner input:hover {
        transition: 0.2s ease-in-out;
        border: 0.4rem solid var(--shape-hover);
        cursor: pointer;
    }

    .radio-inner input:checked {
        border: 0.4rem solid var(--shape-hover);
        outline: 2px solid var(--brand-light);
    }
}

.flex-theme {
    .radio-wrapper {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }

    .radio-inner {
        display: flex;
        flex-direction: column;
        transition: 0.2s ease-in-out;
        border-radius: 0.5rem;
        text-align: center;
        position: relative;
        justify-content: center;
        background-color: var(--shape-button);
        overflow: hidden;

        img {
            display: grid;
            justify-content: center;
            align-items: center;
            object-fit: cover;
            padding: 0.25rem 0.25rem 0rem 0.25rem;
        }
        
        label {
            margin-block: 0.6rem 0.5rem;
        }

        input {
            position: absolute;
            transition: 0.2s ease-in-out;
            border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            cursor: pointer;
            outline: 1px solid transparent;
            background-color: transparent;
        }
    }

    .radio-inner:hover {
        background-color: var(--input-stroke);
    }
    
    .radio-inner input:checked {
        border: 2px solid var(--brand-light);
    }
}