* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --purple: #B259FF;
    --fushia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    --danger: #FF5959;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    --font-family-logo: 'Leckerli One', cursive;
    --font-family-body: 'Open Sans', sans-serif;
    --font-family-heading: 'Baloo 2', sans-serif;

    --logo: 400 2.5rem/3rem var(--font-family-logo);
    --heading-md: bold 1.75rem/2.8rem var(--font-family-heading);
    --heading-sm: bold 1.125rem/1.25rem var(--font-family-heading);
    --body-md: 400 1rem/1.375rem var(--font-family-body);
    --body-sm: 400 0.875rem/1.18rem var(--font-family-body);
    --body-xs: 400 0.75rem/1rem var(--font-family-body);
}

body {
    background: var(--shape-background);
}

h1 {
    color: var(--pink);
    font: var(--logo);
}

p {
    font: var(--body-md);
    color: var(--text-heading);
    font-weight: 300;
}

h2 {
    color: var(--text-heading);
    font: var(--heading-md);
}

h3 {
    color: var(--text-heading);
    font: var(--heading-sm);
}

.flex {
    display: flex;
    gap: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.mb-75 {
    margin-bottom: 0.75rem;
}

.mb-1 {
    margin-bottom: 1rem;
}
