#invite {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    overflow: hidden;
    padding: 1.25rem;
    gap: 1.25rem;
}

aside {
    background-image: url(../assets/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.75rem;
    overflow: hidden;
    padding: 2rem 2rem 34.5rem 2rem;
}

aside .aside-container img {
    height: 3rem;
    width: 2.8rem;
    margin-bottom: 0.5rem;
}

main {
    overflow-y: auto;
    scrollbar-width: none;
    padding: 3.8rem 8rem 5rem 8rem;
    border-radius: 0.75rem;
    background-color: var(--shape-body);
}